.footer__columns {
    width: 90%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
  }