.feynman__title {
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    width: 648px;
    text-align: center;
    align-self: flex-start;
    margin: 80px auto 70px;
    z-index: 2;
  }