 @import url(./__link/feynman__link.css);
 @import url(./__main-illustration/feynman__main-illustration.css);
 @import url(./__subtitle/feynman__subtitle.css);
 @import url(./__title/feynman__title.css);
 
 .feinman {
    position: relative;
    height: 790px;
    display: flex;
    background-color: #f2f2f2;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
    }