.header__title {
    width: 730px;
    font-family:'Helvetica Neue', 'Arial', sans-serif;
    vertical-align: center;
    margin: auto;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
  }