.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    /*display:inline-block;*/
    vertical-align: top;
   }

   .khan__buy-link:hover {
    opacity: 0.5;
    transition: 0.3s ease;
    }